<!DOCTYPE html>
<html>
<head>
<style>
body {
background: #F0F8FF url(https://i.pinimg.com/originals/12/95/66/129566aaed9d8802f5ea0ec48e099b41.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
} 
</style> 


}  
#wrap {
width:700px;
margin:0px auto 15px auto;
  font-family:Lucida Console, Monaco, monospace;
  font-size:14px;
  color: #FF00FF;
}  
/* Header */
#header {
  height:242PX;
  margin:0px auto 15px auto;
  font-family:Lucida Console, Monaco, monospace;
  color: #00FFFF;
  }


/* Header Menu*/
#topmenu {
        display:block;
        list-style:square;
        padding:0 0px 0px 278px;
        float: right;
        width: 415px;
}
#topmenu li {
        display:inline; 
}
#topmenu a {
        display:block;
        float:left;
        height:28px;
        margin:0px 0px 0px0px;
        text-decoration:none;
        padding:9px 15px 0px 15px;
        text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
        color:#FFFFFF;
}
#topmenu a:hover{
        color:#ffffff
        background-color: #ff6699;
}
#topmenu .active a, #topmenu .active a:visited, #topmenu .active a:active{
        color:#FFFFFF;
        background-color: #800000;
}


/*Content*/
#content {
        background-color: #FFFFFF;
}
#mainpage {
        width:700px;
        float:left;
        padding:5px 5px 5px 0px;
        height:auto
}
#mainpage p {
        line-height:22px;
        margin:10px 0px 22px 0px;
        text-align: justify;
}
#mainpage blockquote {
        background:#efefef;
        display:block;
        margin:5px;
        font:Helvetica, Georgia, Verdana, serif;
        font-style:italic;}
h1, h2, h3, h4, h5 {
        color:#B32C0E: 
        font-weight:bold;
        font-family: Arial, Helvetica, sans-serif;
}
#mainpage h1 {
        font-size:24px;
        color: #F2F7F3;
}
