body {
background: #F0F8FF url(https://i.imgur.com/4lPGmZ7.jpg) repeat-x;
}  
#wrap {
width:700px;
margin:0px auto 15px auto;
  font-family:Lucida Console, Monaco, monospace;
  font-size:14px;
  color: #FF00FF;
}  
/* Header */
#header {
  height:242PX;
  margin:0px auto 15px auto;
  font-family:Lucida Console, Monaco, monospace;
  color: #00FFFF;
  }

/* Header Menu*/
#topmenu {
        display:block;
        list-style:square;
        padding:0 0px 0px 278px;
        float: right;
        width: 415px;
}
#topmenu li {
        display:inline; 
}
#topmenu a {
        display:block;
        float:left;
        height:28px;
        margin:0px 0px 0px0px;
        text-decoration:none;
        padding:9px 15px 0px 15px;
        text-align:center;
}
#topmenu a, #topmenu a:visited, #topmenu a:active {
        color:#FFFFFF;
}
#topmenu a:hover{
  
        
